@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Genos:wght@400;600&family=Josefin+Sans:wght@300;400&family=Poppins&display=swap");

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: black;
}

body {
  --sb-track-color: #232e33;
  --sb-thumb-color: #ae980a;
  --sb-size: 10px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}
